/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/
{block #menu}                                   
                                                        <li>
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li>
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li class="first active">
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li>
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}


{block #content}
<h2>Davkovani</h2>
<p>
Zde se zobrazuji leky, ktere jste momentalne naordinovali. Muzete nejake davkovani ukoncit nebo pridat nove.
</p> 
<p>
{control noveDavkForm}
</p>
<hr>
{if $davkovani}
<div id="stab2">
  <table>
    <tr class="bg">
      <th>Datum naordinovani</th><th>Rodne cislo</th><th>Příjmení</th><th>Číslo pojišťovny</th><th>Skupina leku</th><th>Nazev leku</th><th>Sila leku</th><th>Ukoncit</th>
    </tr>
   {foreach $davkovani as $davk}
    <tr>
      <td>{$davk->od|date:'%d.%m.%Y'}</td><td>{$davk->pacient->RC}</td><td>{$davk->pacient->prijmeni}</td><td>{$davk->pacient->pojistovna->kod}</td><td>{$davk->lek->skupina->nazev}</td><td>{$davk->lek->nazev}</td><td>{$davk->lek->sila}</td><td><a n:href="default, $davk->id " onClick="return confirm('Doopravdy si prejete ukoncit toto davkovani?');">Ukoncit</a>
    </tr>
{/foreach}
</table>
</div>
{/if}
{/block}