/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/
{block #menu}                                   
                                                        <li>
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li class="first active">
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li>
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}


{block #content}
<h2>Vyhledani pacienta</h2>
<p>
Zde můžete vyhledat pacienty. Pacienty, ktere mate hospitalizovany, muzete vyhledat na základě prijmeni, rodneho cisla nebo pojistovny. Vsechny pacienty muzete potom vyhledavat na zaklade jejich rodneho cisla. Muzete aktualizovat jejich informace a zobrazit historii jejich lecby.
</p> 
<p>
{control signInForm}
</p>
<hr>

{/block}