/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/
{block #menu}                                   
                                                        <li>
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li class="first active">
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li>
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}


{block #content}
<h2>Historie lecby pro {$pacient->jmeno} {$pacient->prijmeni} ({$pacient->RC})</h2>
{if $vysetreni}
<h4>Vysetreni</h4>
<div id="stab">

<table>
<tr> 
<th>Datum</th><th>Vysetreni</th><th>Vysetrujici lekar</th><th>Vysledek</th>
</tr>
{foreach $vysetreni as $vys}

<tr>
<td>{$vys->datum|date:'%d.%m.%Y'}</td><td>{$vys->druh_vysetreni->nazev}</td><td>{$vys->lekar->jmeno} {$vys->lekar->prijmeni}</td><td>{$vys->vysledek}</td>
</tr>

{/foreach}
</table>
</div>
<hr>
{/if}
{if $hospitalizace}
<h4>Hospitalizace</h4>
<div id="stab">

<table>
<tr> 
<th>Datum prijeti</th><th>Datum propusteni</th><th>Oddeleni</th><th>Osetrujici lekar</th><th>Diagnoza</th>
</tr>
{foreach $hospitalizace as $hosp}

<tr>
<td>{$hosp->od|date:'%d.%m.%Y'}</td><td>{$hosp->do|date:'%d.%m.%Y'}</td><td>{$hosp->oddeleni->nazev}</td><td>{$hosp->lekar->jmeno} {$hosp->lekar->prijmeni}</td><td>{$hosp->diagnoza}</td>
</tr>

{/foreach}
</table>
</div>
<hr>
{/if}
{if $davkovani}
<h4>Davkovane leky</h4>
<div id="stab">

<table>
<tr> 
<th>Datum naordinovani</th><th>Konec ordinovani</th><th>Nazev leku</th><th>Ordinujici lekar</th>
</tr>
{foreach $davkovani as $davk}

<tr>
<td>{$davk->od|date:'%d.%m.%Y'}</td><td>{$davk->do|date:'%d.%m.%Y'}</td><td>{$davk->lek->nazev}</td><td>{$davk->lekar->jmeno} {$davk->lekar->prijmeni}</td>
</tr>

{/foreach}
</table>
</div>
{/if}
{if !$hospitalizace && !$davkovani && !$vysetreni}
Zadne zaznamy
{/if}
{/block}