/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/
{block #menu}                                   
                                                        <li>
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li>
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li class="first active">
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li>
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}


{block #content}
<h2>Hospitalizace</h2>
<p>
Zde se zobrazuji vase momentalni hospitalizace. Muzete nejakou ukoncit nebo pridat novou.
</p> 
<p>
{control novaHospForm}
</p>
<hr>
{if $hospitalizace}
<div id="stab">
  <table>
    <tr class="bg">
      <th>Datum prijeti</th><th>Rodne cislo</th><th>Příjmení</th><th>Číslo pojišťovny</th><th>Ukoncit</th>
    </tr>
   {foreach $hospitalizace as $hosp}
    <tr>
      <td>{$hosp->od|date:'%d.%m.%Y'}</td><td>{$hosp->pacient->RC}</td><td>{$hosp->pacient->prijmeni}</td><td>{$hosp->pacient->pojistovna->kod}</td><td><a n:href="default, $hosp->id" onClick="return confirm('Doopravdy si prejete ukoncit hospitalizaci?');">Ukoncit</a></td>
    </tr>
  {/foreach}
</table>
</div>
{/if}
{/block}