/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/
{block #menu}                                   
                                                        <li class="first active">
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li>
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li>
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}
{block #content}
                                        <div id="sidebar">
                                                <h3>
                                                        Odkazy
                                                </h3>
                                                <ul class="linkedList">
                                                        <li class="first">
                                                                <a n:href="Main:seznam">Seznam lekaru</a>
                                                        </li>  

                                                </ul>                                                   
                                        </div>
                                        <div id="content">
                                                <div id="box1">
                                                        <h2>Vítejte, {$user->getIdentity()->jmeno} {$user->getIdentity()->prijmeni}!</h2>


                                                        <img class="left" src="{$basePath}/images/pic2.jpg" width="184" height="184" alt="" />
                                                        
                                                  
                                                        <p>
                                                        Vítá Vás informační systém Nemocnice sv. Tuxe.<br><br>
                                                        V horním menu najdete záložky pro práci s evidencí a záznamy pacientů.
                                                        </p>
                                                </div>
                                                
                                                <br class="clear" />
                                        </div>
{/block}
   
