/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/

{block #menu}                                   
                                                        <li class="first active">
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li>
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li>
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}
{block #content}
<h2>Seznam lekaru</h2>
<h4>Reditel Nemocnice</h4>
{foreach $reditel as $red}
{$red->jmeno} {$red->prijmeni} | {$red->email} | {$red->telefon}<br>
{/foreach}

<hr>
<h4>Lekari podle oddeleni</h4>

{foreach $oddeleni as $odd}
<h5>{$odd->nazev}</h5>
{foreach $odd->related('lekar') as $lek}
{if $lek->aktivni == 1}
{$lek->jmeno} {$lek->prijmeni} | {$lek->email} | {$lek->telefon}<br>
{/if}
{/foreach}
{/foreach}


{/block}
   
