<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!---------------------------------------------------------------------
                Projekt do predmetu IIS 2013                                                              <
                ===============================================================
                Název projektu: Nemocnice                                                                         <
                Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz          <
                                                Hana Brychtova, xbrych02@stud.fit.vutbr.cz        <
                                                                                                                                          <
---------------------------------------------------------------------->
        
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
         <title>Nemocnice sv. Tuxe</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css?'.time().'">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
  
</head>
<body>

<div id="logscreen">
                        <h2>Nemocnice sv. Tuxe</h2>
                                <h4>Informační systém nemocnice</h4>
                                        <div id="ldate">
                                                <script language="javascript" type="text/javascript" >
                                                        var datum = new Date()
                                                        var den = datum.getDate()
                                                        var mesic = datum.getMonth()+1
                                                        var rok = datum.getFullYear()
                                                        document.write(den + "." + mesic + "." + rok);
                                                </script>
                                        </div>
                                            
                                        
                                        <div id="center">
                                        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
                                                {control signInForm}
                                        </div>           
</div>

{* or use {include '../components/form.latte', form => $presenter[signInForm]} *}


        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/main.js"></script>
</body>
</html>