/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/
{block #menu}                                   
                                                        <li>
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li>
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li  class="first active">
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}
{block #content}
<h2>Sprava nemocnice</h2>


<h4>Lekari</h4>
<table>
<tr>
<td>{control novyLekarForm}</td> <td>{control zmenitRediteleForm}</td>
</tr>
</table>
<br><hr>
<div id="stab2">
  <table>
    <tr class="bg">
      <th>Prijmeni</th><th>Jmeno</th><th>Oddeleni</th><th>Email</th><th>Telefon</th><th>Upravit</th><th>Vysetreni, skupiny leku</th><th>Ucet</th>
    </tr>
   {foreach $lekari as $lekar}
    <tr>
      <td>{$lekar->prijmeni}</td><td>{$lekar->jmeno}</td><td>{$lekar->oddeleni->nazev}</td><td>{$lekar->email}</td><td>{$lekar->telefon}</td><td><a n:href="upravLekare, $lekar->id">Upravit</a></td><td><a n:href="prirad, $lekar->id">Priradit</a></td>
      
      {if $lekar->role == "lekar"}
      <td><a n:href="default, $lekar->id" onClick="return confirm('Doopravdy si prejete deaktivovat ucet a tim ukoncit vsechny jeho hospitalizace a davkovani?');">{if $lekar->aktivni==1}Deaktivovat{else}Aktivovat{/if}</a></td>
      {else}
      <td>Nelze deaktivovat.</td>
      {/if}
      
    </tr>
  {/foreach}
</table>
</div>


{/block}