/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/
{block #menu}                                   
                                                        <li>
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li>
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li  class="first active">
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}
{block #content}
<h2>Lékař {$lekar->jmeno} {$lekar->prijmeni}</h2>
<h4>Přiřaď Vyšetření a Skupiny léků</h4>
<p>Zde muzete pridat vysetreni, ktere muze lekar provadet, a skupiny leku, ktere muze ordinovat.</p>
<table><tr>
<td>{control priradDruh_vysetreniForm}</td>
<td>{control priradSkupinyForm}</td>
</tr></table><br>
<hr>
<h4>Přiřazená vyšetrení a skupiny léků</h4>
{if $druhyVysetreni==null && $skupiny==null}
Nemá přiřazeny žádné druhy vyšetření ani léky.
{/if}
<div id="stab3">
{if $druhyVysetreni}

  <table>
    <tr><th>Druhy vyšetrení</th></tr>
    
    {foreach $druhyVysetreni as $druh}
    <tr>
      <td>{$druh->druh_vysetreni->nazev}</td>
    </tr>
    {/foreach}
    
  </table>

    
{/if}
{if $skupiny}

    <table>
    
    <tr>
    <th>Skupiny léků</th>
    </tr>
    
    {foreach $skupiny as $sku}
    <tr>
    <td>{$sku->skupina->nazev}</td>
    </tr>
    {/foreach}
    
  </table>
{/if}
</div>

{/block}