/*

        Projekt do predmetu IIS 2013
        ===============================================================
        Název projektu: Nemocnice
        Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz
                                        Hana Brychtova, xbrych02@stud.fit.vutbr.cz
        

*/
{block #menu}                                   
                                                        <li>
                                                                <a n:href="Main:" title="Hlavní stránka">Hlavní stránka</a>
                                                        </li>           
                                                        <li>
                                                                <a n:href="VyhledatPacienta:" title="Vyhledat pacienta">Vyhledat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="PridatPacienta:" title="Přidat pacienta">Přidat pacienta</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="NoveVysetreni:" title="Nové vyšetření">Nové vyšetření</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Hospitalizace:" title="Hospitalizace">Hospitalizace</a>
                                                        </li>
                                                        <li>
                                                                <a n:href="Davkovani:" title="Davkovani">Davkovani</a>
                                                        </li>
                                                        {if $user->isAllowed('sprava')}
                                                        <li  class="first active">
                                                                <a n:href="SpravaNemocnice:" title="Sprava Nemocnice">Sprava Nemocnice</a>
                                                        </li>
                                                        {/if}
{/block}
{block #content}
<h2>Sprava nemocnice</h2>


<h4>Zmena Reditele</h4>
<p>Po zvoleni noveho reditele budete odhlasen a pri novem prihlaseni jiz ztratite pristup ke sprave nemocnice.</p>
<br><hr>
<div id="stab2">
  <table>
    <tr class="bg">
      <th>Prijmeni</th><th>Jmeno</th><th>Oddeleni</th><th>Email</th><th>Uprava</th>
    </tr>
   {foreach $lekari as $lekar}
    <tr>
    {if $lekar->aktivni == 1}
    {if $lekar->role == "lekar"}
      <td>{$lekar->prijmeni}</td><td>{$lekar->jmeno}</td><td>{$lekar->oddeleni->nazev}</td><td>{$lekar->email}</td><td><a n:href="zmenitReditele, $lekar->id" onClick="return confirm('Doopravdy si prejete zmenit reditele?');">Jmenovat reditelem</a></td>
    {/if}
    {/if}
    </tr>
  {/foreach}
</table>
</div>


{/block}