{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!---------------------------------------------------------------------
            Projekt do predmetu IIS 2013                                                     
                ===============================================================
                Název projektu: Nemocnice                                                                
                Autorky:                Marta Cudova, xcudov00@stud.fit.vutbr.cz         
                                                Hana Brychtova, xbrych02@stud.fit.vutbr.cz    
---------------------------------------------------------------------->

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <title>Nemocnice sv. Tuxe</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css?'.time().'">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>
<body>
	<script> document.documentElement.className+=' js' </script>

	

                <div id="bg">
                        <div id="outer">
                                <div id="header">
                                        <div id="logo">
                                                <h1>
                                                        <a n:href="Main:">Nemocnice sv. Tuxe</a>
                                                </h1>
                                        </div>
                                        <div id="date">
                                         Prihlaseny lekar: {$user->getIdentity()->jmeno} {$user->getIdentity()->prijmeni}.

                                                        <script language="javascript" type="text/javascript" >
                                                                var datum = new Date()
                                                                var den = datum.getDate()
                                                                var mesic = datum.getMonth()+1
                                                                var rok = datum.getFullYear()
                                                        document.write("Dnes je:&nbsp" + den + "." + mesic + "." + rok);
                                                        </script>
                                        </div>
                                        
                                        <div id="logoff">
                                                        <a n:href="Sign:Out"><input class="button" type="submit" value="Odhlásit se" /></a>
                                                </div>
                                        <div id="nav">
                                                <ul>
                                                        {include #menu}
                                                        {block scripts}
                                                </ul>
                                                
                                                <br class="clear" />
                                        </div>
                                </div>
                                 <div id="main">
                                 <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
                                  {include #content}
                                 </div>

                        <div id="copyright">
                                &copy; Nemocnice sv. Tuxe | 2013 | Hana Brychtova a Marta Cudova pro predmet IIS
                        </div>
                </div>
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
